{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
  <section class="jumbotron masthead">
    <h1>kwaderno</h1>
    <p>Fund the schooling needs of the Filipino youth</p>
    <p><input class="btn btn-primary" type="button" value="View Scholars"></p>
  </section>
  <section class="container featured">
    <header>
      <h1>
        Fund these people and projects
      </h1>
    </header>
    <div class="row-fluid">
      {% for s in list_students %}
        <article class="span4">
          <div>
            <div class="thumb">
              <a href="{%url 'detail' student_id=s.pk%}">
                <img src="{{s.image.url}}">
              </a>
            </div>
            <a href="{%url 'detail' student_id=s.pk%}">
              <h1>{{s.first_name}} {{s.middle_name}} {{s.last_name}}</h1>
            </a>
            <div class="ellipsis" style="">
              {{s.story.pitch|linebreaks}}
            </div>
            <div class="progress progress-striped">
              <span class="percent">{{s.get_received_percent}}%</span>
              <div class="bar" style="width: {{s.get_received_percent}}%;">
              </div>
            </div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_donations"/>
              <input type="hidden" name="business" value="luigi.dollosa@gmail.com"/>
              <input type="hidden" name="lc" value="US"/>
              <input type="hidden" name="item_name" value="kwaderno"/>
              <input type="hidden" name="no_note" value="0"/>
              <input type="hidden" name="currency_code" value="PHP"/>
              <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"/>
              <input name="btn-donate" type="submit" class="btn btn-primary" value="Donate">
            </form>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
  <script type="text/javascript">
    $(".featured article").dotdotdot({height: "6em"});
  </script>
{%endblock%}
