{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
  <section class="jumbotron masthead">
    <h1>kwaderno</h1>
    <p>Lorem ipsum dolor sit amet consecteture adpiscing elit.</p>
    <p><input class="btn btn-primary" type="button" value="View Scholars"></p>
  </section>
  <section class="container featured">
    <header>
      <h1>
        Meet Our Scholars
      </h1>
      <p>
        Mauris facilisis interdum libero, et venenatis felis interdum vitae. 
      </p>
    </header>
    <div class="row-fluid">
      {% for s in list_students %}
        <article class="span4">
          <div>
            <div class="thumb">
              <a href="{{s.pk}}">
                <img src="{{s.image.url}}">
              </a>
            </div>
            <a href="{{s.pk}}">
              <h1>{{s.first_name}} {{s.middle_name}} {{s.last_name}}</h1>
            </a>
            <div class="ellipsis" style="height:170px;">
              {{s.story.text|linebreaks}}
            </div>
            <script type="text/javascript">
              $("div.ellipsis").dotdotdot();
            </script>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
{%endblock%}
