{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}profile-page {% endblock %}
{% block body %}
  <div class="container main">
    <div class="row-fluid">
      <section class="span4 fixed basic-info">
        <div class="container">
          <div class="thumb">
            <img src="{{student.image.url}}">
          </div>
          <h1>
            {{student.first_name}} {{student.middle_name}} {{student.last_name}}
          </h1>
          <dl class="clearfix list">
            <dt title="Date of Birth">
              Date of Birth
            </dt>
            <dd title="{{student.date_of_birth}}">
              {{student.date_of_birth}}
            </dd>
            <dt title="Gender">
              Gender
            </dt>
            <dd title="{{student.gender.get_desc}}">
              {{student.gender.get_desc}}
            </dd>
            <dt title="Year Level">
              Year Level
            </dt>
            <dd title="{{student.c_year_level.get_desc}}">
              {{student.c_year_level.get_desc}}
            </dd>
            <dt title="Amount Needed">
              Amount Needed
            </dt>
            <dd title="{{student.amount_needed}}">
             {{student.amount_needed}}
            </dd>
          </dl>
          <div class="progress progress-striped">
            <span class="percent">{{student.get_received_percent}}%</span>
            <div class="bar" style="width: {{student.get_received_percent}}%;">
            </div>
          </div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations"/>
            <input type="hidden" name="business" value="luigi.dollosa@gmail.com"/>
            <input type="hidden" name="lc" value="US"/>
            <input type="hidden" name="item_name" value="kwaderno"/>
            <input type="hidden" name="no_note" value="0"/>
            <input type="hidden" name="currency_code" value="PHP"/>
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"/>
            <input name="btn-donate" type="submit" class="btn btn-primary" value="Donate">
          </form>
        </div>
      </section>
      <section class="span8 more-info">
        <div class="container">
          <article>
            <h1>{{student.story.title}}</h1>
            {{student.story.text|linebreaks}}
          </article>
          <footer style="height:auto;width:500px;margin: auto;">
            <a class="retweet self"></a>
            <a id="fb_share" href="#">Share on Facebook</a>
            <script>
              // Fix for the late rendering of FB comments
              FB.Event.subscribe("xfbml.render", 
                function(response) {
                  $("iframe.fb_ltr").height("300px");
                }
              );
            </script>
            <fb:comments href="test.html" num_posts="10" style="width:100%;"></fb:comments>
          </footer>
        </div>
      </section>
    </div>
  </div>
  
  <script>
    $("#fb_share").click(
      function() {
        var sharer = "https://www.facebook.com/sharer/sharer.php?u=";
        window.open(sharer + encodeURIComponent(location.href), 'sharer', 'width=626,height=436');
      }
    );
  </script>
{% endblock %}
