{% extends "base.html" %}
{% load staticfiles humanize %}
{% block body_class %}profile-page {% endblock %}
{% block body %}
  <div class="container main">
    <div class="row-fluid">
      <section class="span4 fixed basic-info">
        <div class="container">
          <div class="thumb">
            <img src="{{student.image.url}}">
          </div>
          <h1>
            {{student.first_name}} {{student.middle_name}} {{student.last_name}}
          </h1>
          <dl>
            <ul class="needs">
              {% for need_item in student.need_items.all %}
                <li class="{{need_item.need}}" title="{{need_item.get_desc}}"></li>{{need_item.get_desc}}
              {% endfor %}
            </ul>
          </dl>
          <dl class="clearfix list">
            <dt title="Date of Birth">
              Date of Birth
            </dt>
            <dd title="{{student.date_of_birth}}">
              {{student.date_of_birth}}
            </dd>
            <dt title="Gender">
              Gender
            </dt>
            <dd title="{{student.gender.get_desc}}">
              {{student.gender.get_desc}}
            </dd>
            <dt title="Year Level">
              Year Level
            </dt>
            <dd title="{{student.c_year_level.get_desc}}">
              {{student.c_year_level.get_desc}}
            </dd>
            <dt title="Amount Needed">
              Amount Needed
            </dt>
            <dd title="{{student.amount_needed}}">
             {{student.amount_needed|intcomma}} Php
            </dd>
            <dt title="Amount Received">
              Amount Received
            </dt>
            <dd title="{{student.amount_received}}">
             {{student.amount_received|intcomma}} Php
            </dd>
          </dl>
          <div class="progress progress-striped{% if student.get_received_percent > 99 %} progress-success{% endif %}">
            <span class="percent">{{student.get_received_percent}}%{% if student.get_received_percent > 99 %} Success!{% endif %}</span>
            <div class="bar" style="width: {{student.get_received_percent}}%;">
            </div>
          </div>
          <div class="donate">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_donations"/>
              <input type="hidden" name="business" value="luigi.dollosa@gmail.com"/>
              <input type="hidden" name="lc" value="US"/>
              <input type="hidden" name="item_name" value="kwaderno"/>
              <input type="hidden" name="no_note" value="0"/>
              <input type="hidden" name="currency_code" value="PHP"/>
              <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"/>
              <input name="btn-donate" type="submit" class="btn btn-primary" value="Donate through Paypal">
            </form>
            or<br>
            text <strong>{{student.code}} &lt;amount&gt;</strong> to <strong>1234</strong>
          </div>
        </div>
      </section>
      <section class="span8 more-info">
        <div class="container">
          <article>
            <h1>{{student.story.title}}</h1>
            {{student.story.text|linebreaks}}
            <p>
              <b>{{student.story.need_statement}}</b>
            </p>
          </article>
          <footer>
            <h1>Social</h1>
            <a class="retweet self" title="Tweet"></a>
            <a id="fb_share" href="#" title="Share">Share on Facebook</a>
            <fb:comments href="test.html" num_posts="10" style="width:100%;"></fb:comments>
          </footer>
        </div>
      </section>
    </div>
  </div>
  
  <script>
    $("#fb_share").click(
      function() {
        var sharer = "https://www.facebook.com/sharer/sharer.php?u=";
        window.open(sharer + encodeURIComponent(location.href), 'sharer', 'width=626,height=436');
      }
    );
  </script>
{% endblock %}


{% block title %}{{student.first_name}} {{student.middle_name}} {{student.last_name}}{% endblock %}
