{% extends "base.html" %}
{% load staticfiles %}
{% block body_class %}profile-page {% endblock %}
{% block body %}
  <div class="container main">
    
  {% for student in list_students %}
    {% cycle '<div class="row-fluid">' '' '' %}
      <section class="span4 fixed basic-info">
        <div class="container">
          <div class="thumb">
            <img src="{{student.image.url}}">
          </div>
          <h1>
            {{student.first_name}} {{student.middle_name}} {{student.last_name}}
          </h1>
          <dl class="clearfix list">
            <dt title="Date of Birth">
              Date of Birth
            </dt>
            <dd title="{{student.date_of_birth}}">
              {{student.date_of_birth}}
            </dd>
            <dt title="Gender">
              Gender
            </dt>
            <dd title="{{student.gender.get_desc}}">
              {{student.gender.get_desc}}
            </dd>
            <dt title="Year Level">
              Year Level
            </dt>
            <dd title="{{student.c_year_level.get_desc}}">
              {{student.c_year_level.get_desc}}
            </dd>
            <dt title="Amount Needed">
              Amount Needed
            </dt>
            <dd title="{{student.amount_needed}}">
             {{student.amount_needed}}
            </dd>
          </dl>
          <div class="progress progress-striped">
            <div class="bar" style="width: 80%;">
            </div>
          </div>
          <input type="button" class="btn btn-primary" value="Donate">
        </div>
      </section>
    {% cycle '' '' '</div>' %}
  {% endfor %}
    </div>
  </div>
{%endblock%}
